.login-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 90vh;
  z-index: 9999;
  left: 50%;
}

.login-overlay h1 {
  font-size: 2.5vw;
  text-align: center;
  background-image: linear-gradient(to right, #366935, #2eaf7d, #c1f6ed);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-container {
  position: absolute;
  border-radius: 20px;
  padding: 1em;
  color: black;
  background-color: #ffffff;
  min-width: 15em;
  min-height: 18em;
  box-shadow: 0px 0px 0px 5px rgba(46, 175, 125, 0.4);
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5vw;
  transition: all 0.4s ease;
}

.close-btn:hover {
  background-color: rgba(37, 87, 138, 0.4);
  transform: scale(1.03);
}

.login-field {
  margin-top: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.login-title {
  font-size: 1.3vw;
}

.password,
.email {
  margin-top: 0.5em;
  align-self: center;
}

.login-button {
  position: relative;
  left: 40%;
  color: #7ce7d5;
  border: none;
  font-size: 1.3vw;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  background: none;
  padding: 2px;
}

.login-bottom-text {
  display: flex;
  justify-content: center;
  gap: 0.3em;
  margin-top: 2em;
  font-size: 1vw;
}

.register-btn {
  background: none;
  border: none;
  font-size: 1vw;
  cursor: pointer;
}

.register-btn:hover {
  color: #3fd0c9;
}
