.Slide {
  margin-top: 60px;
  padding: 0 40px 60px;
}

.slide-container {
  display: flex;
  justify-content: center;
}

.slide-title {
  font-size: 40px;
  line-height: 100px;
  margin: 60px 5px 10px 5px;
}

.slide-text {
  font-size: 24px;
  margin: 10px 0 20px 0;
}

.slide-btn {
  height: 2em;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #449342;
}

.slide-img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
