* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-title {
  text-align: center;
}

.breakline {
  position: relative;
  left: 20%;
  width: 60%;
  background-color: #449342;
  border-radius: 8px;
  height: 4px;
}

body,
html {
  overflow-x: hidden;
}
